<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Demo</title>
</head>
<body>

    <form action="{% url 'playbooks_parser:demo_result_view' %}" method="post">
        <div>
            <p> Select an example playbook: </p>
            {% for example in playbooks_examples %}
                <input type="radio" name="playbook_example" id="playbook_example_{{ example.id }}" value="{{ example.id }}">
                <label for="playbook_example_{{ example.id }}"> {{ example.playbook_name }} </label><br>
            {% endfor %}
                <input type="radio" name="playbook_example" id="upload_own_example" value="own_example">
                <label for="upload_own_example"> Upload your own example </label><br>
        </div>
        <input type="file" name="Or upload your own playbook" value="uploaded-playbook">
        <input type="submit" value="Analyze">
    </form>

    <div class="parsed-playbook">
        <!-- This paragraph will be filled with the parsed playbook -->
        {% if parsed_playbook %}
        <p> {{ parsed_playbook }} </p>
        {% else %}
        <p> Please select an option to parse </p>
        {% endif %}
        <!-- Maybe include the state graph as well? -->
    </div>

    <!-- If the request to parse the playbook has been done then display this paragraph -->
    {% if parsed_playbook %}
    <div>
        <p>
        Your playbook contains:
        </p>
        <ul>
            {% for task in playbook_tasks %}
            <item> {{ task.name }} </item>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>
</html>